@use "../../foundation/variables" as *;

.c-badge {
  display: inline-block;
  padding: 8px 20px;
  font-size: 0.85rem;
  font-weight: 500;
  color: $color-primary;
  background-color: $color-bg-blue-light;
  border: 1px solid $color-border-blue;
  border-radius: $radius-round;
  transition: background-color 0.2s, color 0.2s;

  &:hover {
    background-color: $color-primary;
    color: $color-bg-white;
  }
}
