@use "../../foundation/variables" as *;

.p-skills {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.p-skills__category-title {
  font-size: 0.95rem;
  font-weight: 700;
  color: $color-text-link;
  margin-bottom: 12px;
  padding-left: 12px;
  border-left: 3px solid $color-primary;
}

.p-skills__badges {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
