@use "variables" as *;

html {
  scroll-behavior: smooth;
  scroll-padding-top: $header-height;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 400;
  line-height: 1.8;
  color: $color-text;
  background-color: $color-bg-white;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
